# Analysis of raw dataset

In [132]:
import pandas as pd
import seaborn as sns

In [133]:
df = pd.read_csv('raw_data.csv').drop(columns=['Unnamed: 0'])
df.keys()

Index(['EAN', 'amount', 'brand', 'capacity', 'category', 'description',
       'extras', 'image_url', 'ingredients', 'origin', 'price', 'seller',
       'storage', 'title', 'url', 'weight'],
      dtype='object')

In [134]:
df.dtypes

EAN            object
amount         object
brand          object
capacity       object
category       object
description    object
extras         object
image_url      object
ingredients    object
origin         object
price          object
seller         object
storage        object
title          object
url            object
weight         object
dtype: object

In [135]:
df = df.sample(frac=1) # shuffle data
df.head()

,EAN,amount,brand,capacity,category,description,extras,image_url,ingredients,origin,price,seller,storage,title,url,weight
135,5449000040008,1 l,KINLEY,1 l,Napoje > Gazowane > Pomarańczowe i cytrynowe >...,KINLEY Napój gazowany o smaku cytrynowym\n\nNa...,"""Substancje słodzące"",""Zawiera""","https://www.frisco.pl/pid,104361/n,kinley-napo...",woda\nA-cukier lub B-syrop fruktozowo-glukozow...,NaN,4.69,Frisco,Zawartość soku może powodować powstawanie natu...,KINLEY Napój gazowany o smaku cytrynowym,"https://www.frisco.pl/pid,104361/n,kinley-napo...",NaN
7454,5449000131805,330 ml,Coca-cola,330 ml,Napoje > Napoje gazowane typu Cola,ul. Annopol 20 \n03-236 Warszawa Coca-Cola Zer...,NaN,https://www.leclerc.rzeszow.pl/resize.php?pic=...,woda\ndwutlenek węgla\nbarwnik E 150d\nkwas: k...,NaN,2.19,Leclerc Rzeszów,NaN,Coca-Cola zero Napój gazowany 330 ml,https://www.leclerc.rzeszow.pl/coca-cola-zero-...,Waga netto 330 ml
340,5449000275523,850 ml,FANTA,850 ml,Napoje > Gazowane > Pomarańczowe i cytrynowe >...,FANTA Shokata Napój gazowany\n\nNapój gazowany...,"""Substancje słodzące"",""Zawiera""","https://www.frisco.pl/pid,112199/n,fanta-shoka...",woda\ncukier\nsok cytrynowy z soku zagęszczone...,NaN,3.99,Frisco,Zawartość soku może powodować powstawanie natu...,FANTA Shokata Napój gazowany,"https://www.frisco.pl/pid,112199/n,fanta-shoka...",NaN
4555,5904771005811,1 szt,GOSIA,NaN,"Środki czystości, chemia > Czyszczenie > Worki...",GOSIA Worki na śmieci LDPE taśma ultra mocne E...,NaN,"https://www.frisco.pl/pid,127091/n,gosia-worki...",NaN,NaN,6.99,Frisco,NaN,GOSIA Worki na śmieci LDPE taśma ultra mocne E...,"https://www.frisco.pl/pid,127091/n,gosia-worki...",1 szt
2776,9000101384734,1.45 l,SILAN,1.45 l,"Środki czystości, chemia > Pranie > Do płukani...",Nowy płyn do zmiękczania tkanin Silan z formuł...,NaN,"https://www.frisco.pl/pid,125085/n,silan-fresh...",5-15% kationowe środki powierzchniowo czynne\n...,NaN,13.99,Frisco,Okres trwałości: 24 miesiące od daty produkcji...,SILAN Fresh Control Płyn do zmiękczania tkanin...,"https://www.frisco.pl/pid,125085/n,silan-fresh...",NaN

## Data cleaning
Choose records with EAN and title available

In [136]:
df = df.dropna(subset=['EAN', 'title'])

Extract the main category from category tree.

In [137]:
categories = df['category'].str.split('>', n=1, expand=True)
categories.head()

,0,1
135,Napoje,Gazowane > Pomarańczowe i cytrynowe > Cytryno...
7454,Napoje,Napoje gazowane typu Cola
340,Napoje,Gazowane > Pomarańczowe i cytrynowe > Inne > ...
4555,"Środki czystości, chemia",Czyszczenie > Worki na śmieci > 35 litrów > <...
2776,"Środki czystości, chemia",Pranie > Do płukania > Płyn > 1-2 l > SILAN F...

In [138]:
df['main_category'] = categories[0]
df['main_category'] = df['main_category'].str.lower()
df['main_category'] = df['main_category'].str.strip()
df.groupby(by='main_category').count().sort_values(by='EAN', ascending=False)

,EAN,amount,brand,capacity,category,description,extras,image_url,ingredients,origin,price,seller,storage,title,url,weight
main_category,,,,,,,,,,,,,,,,
napoje,3353,3319,3165,3295,3353,3353,1222,3353,2037,255,3045,3353,2062,3353,3353,1670
"środki czystości, chemia",2430,2430,2430,1241,2430,2430,2,2430,1522,735,2430,2430,1096,2430,2430,1867
drogeria,791,790,774,0,791,556,1,791,630,320,791,791,418,791,791,0
chemia,689,543,409,543,689,685,1,689,478,311,688,689,353,689,689,543
woda i napoje,586,583,574,0,586,339,209,586,467,150,584,586,575,586,586,0
alkohol,323,254,154,319,323,277,222,316,37,43,168,315,30,323,316,115
bio,86,86,86,64,86,86,0,86,30,12,86,86,29,86,86,26
soki świeże i tłoczone,40,37,34,37,40,40,6,40,10,0,40,40,34,40,40,37
mama i dziecko,24,24,24,6,24,24,4,24,18,4,24,24,10,24,24,18
strefa roślinna,20,20,20,20,20,20,0,20,8,0,20,20,20,20,20,0
zdrowa żywność,8,8,8,0,8,6,0,8,6,0,8,8,8,8,8,0
spożywcze,6,6,6,4,6,6,0,6,4,2,6,6,2,6,6,4
artykuły spożywcze,3,0,2,0,3,3,0,3,0,0,3,3,3,3,3,0
artykuły przemysłowe,2,2,2,0,2,1,0,2,0,0,2,2,0,2,2,0
warzywniak,1,1,1,1,1,1,0,1,1,0,1,1,1,1,1,1

Unify category names

In [139]:
def map_prime_category(data, old_value, new_value):
    data.at[df['main_category'] == old_value, 'main_category'] = new_value
    return data

df = map_prime_category(df, 'woda i napoje', 'napoje')
df = map_prime_category(df, 'soki świeże i tłoczone', 'napoje')
df = map_prime_category(df, 'środki czystości, chemia', 'chemia')
df = map_prime_category(df, 'drogeria', 'chemia')
df.groupby(by='main_category').count().sort_values(by='EAN', ascending=False)

,EAN,amount,brand,capacity,category,description,extras,image_url,ingredients,origin,price,seller,storage,title,url,weight
main_category,,,,,,,,,,,,,,,,
napoje,3979,3939,3773,3332,3979,3732,1437,3979,2514,405,3669,3979,2671,3979,3979,1707
chemia,3910,3763,3613,1784,3910,3671,4,3910,2630,1366,3909,3910,1867,3910,3910,2410
alkohol,323,254,154,319,323,277,222,316,37,43,168,315,30,323,316,115
bio,86,86,86,64,86,86,0,86,30,12,86,86,29,86,86,26
mama i dziecko,24,24,24,6,24,24,4,24,18,4,24,24,10,24,24,18
strefa roślinna,20,20,20,20,20,20,0,20,8,0,20,20,20,20,20,0
zdrowa żywność,8,8,8,0,8,6,0,8,6,0,8,8,8,8,8,0
spożywcze,6,6,6,4,6,6,0,6,4,2,6,6,2,6,6,4
artykuły spożywcze,3,0,2,0,3,3,0,3,0,0,3,3,3,3,3,0
artykuły przemysłowe,2,2,2,0,2,1,0,2,0,0,2,2,0,2,2,0
warzywniak,1,1,1,1,1,1,0,1,1,0,1,1,1,1,1,1

Select only "napoje" and "chemia"

In [140]:
df = df.loc[df['main_category'].isin(['napoje', 'chemia'])]
print('Value counts')
df.groupby(by='main_category').count().sort_values(by='EAN', ascending=False)

Value counts

,EAN,amount,brand,capacity,category,description,extras,image_url,ingredients,origin,price,seller,storage,title,url,weight
main_category,,,,,,,,,,,,,,,,
napoje,3979,3939,3773,3332,3979,3732,1437,3979,2514,405,3669,3979,2671,3979,3979,1707
chemia,3910,3763,3613,1784,3910,3671,4,3910,2630,1366,3909,3910,1867,3910,3910,2410

Combination of EAN and seller must be unique.

We want offers to be unique in every seller.

In [141]:
df['EAN_seller'] = df['EAN'] + '_' + df['seller']
print('Unique')
df.groupby(by='main_category')['EAN_seller'].nunique()

Unique

main_category
chemia    2700
napoje    2782
Name: EAN_seller, dtype: int64

In [142]:
df = df.drop_duplicates(subset=['EAN_seller'])
print('Value counts')
df.groupby(by='main_category').count().sort_values(by='EAN', ascending=False)

Value counts

,EAN,amount,brand,capacity,category,description,extras,image_url,ingredients,origin,price,seller,storage,title,url,weight,EAN_seller
main_category,,,,,,,,,,,,,,,,,
napoje,2782,2742,2576,2145,2782,2535,1115,2782,1760,318,2474,2782,1841,2782,2782,1180,2782
chemia,2700,2553,2403,1165,2700,2461,3,2700,1873,1000,2699,2700,1323,2700,2700,1480,2700

In [143]:
print('Unique')
df.groupby(by='main_category').nunique()

Unique

,EAN,amount,brand,capacity,category,description,extras,image_url,ingredients,origin,price,seller,storage,title,url,weight,EAN_seller
main_category,,,,,,,,,,,,,,,,,
chemia,1797,365,174,192,1218,1717,3,2700,857,43,451,4,223,2305,2700,603,2700
napoje,2078,195,238,153,709,1668,94,2782,892,26,454,4,327,1818,2782,303,2782

In [144]:
df = df.drop('EAN_seller', axis=1)

Select products which are present in more than one shop

In [145]:
ean_counts = df['EAN'].value_counts()
ean_counts.value_counts()

1    2639
2     865
3     371
Name: EAN, dtype: int64

In [149]:
df = df[df['EAN'].isin(ean_counts[ean_counts > 1].index)]
print('Value counts')
df.groupby(by='main_category').count().sort_values(by='EAN', ascending=False)

Value counts

,EAN,amount,brand,capacity,category,description,extras,image_url,ingredients,origin,price,seller,storage,title,url,weight
main_category,,,,,,,,,,,,,,,,
chemia,1586,1471,1393,720,1586,1447,3,1586,1283,695,1585,1586,840,1586,1586,794
napoje,1257,1229,1122,839,1257,1096,476,1257,948,150,1255,1257,939,1257,1257,671

In [150]:
print('Unique')
df.groupby(by='main_category').nunique()

Unique

,EAN,amount,brand,capacity,category,description,extras,image_url,ingredients,origin,price,seller,storage,title,url,weight
main_category,,,,,,,,,,,,,,,,
chemia,683,240,125,130,546,893,3,1586,496,32,316,4,128,1240,1586,350
napoje,553,90,128,64,339,870,58,1257,447,15,242,3,184,863,1257,203